Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Remove dependency on envsubst tool
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Remove hardcoded bucket name. Add SHORT_SHA as suffix to dataset name
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Removing hard-coded bucket
  udfs/community/levenshtein.sqlx
  udfs/community/nlp_compromise_number.sqlx
  udfs/community/nlp_compromise_people.sqlx
  udfs/community/pvalue.sqlx
Due: none

Update test_cases.yaml as per danieldeleo
  udfs/community/test_cases.yaml
Due: none

remove unit test
  udfs/community/test_cases.yaml
Due: none

revert test_cases.yaml
  udfs/community/test_cases.yaml
Due: none

rever test_cases.yaml
  udfs/community/test_cases.yaml
Due: none

Add Pi UDF (#255)
  udfs/community/README.md
  udfs/community/pi.sql
Due: none

wip: implement basic piping for chi-square
  stored_procedures/chi_square.sql
Due: none

fix: use string concatenation to return proper chi-square results
  stored_procedures/chi_square.sql
Due: none

feat: add linear_regression stored procedure
  stored_procedures/linear_regression.sql
Due: none

Removing caret symbol from js libs specification so that the exact version of a library is built, instead of a greater version. Fixing Dockerfile.ci warning about missing WORKDIR
  udfs/tests/Dockerfile.ci
  udfs/tests/udf_test_utils.py
Due: pylint, hadolint

Removing caret symbol from js libs specification so that the exact version of a library is built, instead of a greater version. (#257)
  udfs/tests/Dockerfile.ci
  udfs/tests/udf_test_utils.py
Due: pylint, hadolint

implement assertions in unit tests, finalize argument signature
  stored_procedures/chi_square.sql
  stored_procedures/linear_regression.sql
Due: none

teradata updates
  udfs/migration/teradata/test_cases.js
  udfs/migration/teradata/test_cases.yaml
  udfs/tests/dataform_testing_framework/dataform.json
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

teradata udf tests
  dataform.json
  package-lock.json
  package.json
  udfs/migration/redshift/initcap.sqlx
  udfs/migration/redshift/interval_literal_to_seconds.sqlx
  udfs/migration/redshift/split_part.sqlx
  udfs/migration/redshift/translate.sqlx
  udfs/migration/snowflake/factorial.sqlx
  udfs/migration/teradata/ascii.sqlx
  udfs/migration/teradata/chr.sqlx
  udfs/migration/teradata/decode1.sqlx
  udfs/migration/teradata/decode2.sqlx
  udfs/migration/teradata/decode3.sqlx
  udfs/migration/teradata/index.sqlx
  udfs/migration/teradata/initcap.sqlx
  udfs/migration/teradata/instr.sqlx
  udfs/migration/teradata/last_day.sqlx
  udfs/migration/teradata/left.sqlx
  udfs/migration/teradata/months_between.sqlx
  udfs/migration/teradata/nullifzero.sqlx
  udfs/migration/teradata/nvl.sqlx
  udfs/migration/teradata/nvl2.sqlx
  udfs/migration/teradata/otranslate.sqlx
  udfs/migration/teradata/right.sqlx
  udfs/migration/teradata/test_cases.js
  udfs/migration/teradata/test_cases.yaml
  udfs/migration/teradata/zeroifnull.sqlx
  udfs/tests/_deploy/.df-credentials.json
  udfs/tests/_deploy/definitions/migration
  udfs/tests/_deploy/includes
  udfs/tests/_deploy/node_modules
  udfs/tests/_deploy/package.json
  udfs/tests/_test/.df-credentials.json
  udfs/tests/_test/includes
  udfs/tests/_test/node_modules
  udfs/tests/_test/package.json
  udfs/tests/create_udf_signatures.py
  udfs/tests/dataform.json
  udfs/tests/run.sh
Due: pylint, shellcheck

Removing code fragments left over from testing
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Update udfs/community/getbit.sql
  udfs/community/getbit.sql
Due: none

Add community UDFs which convert an integer value to/from bin/hex form (#82)
  udfs/community/README.md
  udfs/community/from_binary.sql
  udfs/community/from_hex.sql
  udfs/community/test_cases.yaml
  udfs/community/to_binary.sql
  udfs/community/to_hex.sql
Due: none

Update test_cases.yaml
  udfs/community/test_cases.yaml
Due: none

Add getbit UDF to community SQL UDFs (#94)
  udfs/community/README.md
  udfs/community/getbit.sql
  udfs/community/test_cases.yaml
Due: none

Resolving issue #226
  dashboards/system_tables/sql/reservation_utilization_week.sql
Due: none

Resolving issue #227
  dashboards/system_tables/sql/job_execution.sql
Due: none

Updating redshift, snowflake and teradata UDF test cases for new dataform based unit testing framework
  udfs/migration/redshift/initcap.sqlx
  udfs/migration/redshift/interval_literal_to_seconds.sqlx
  udfs/migration/redshift/split_part.sqlx
  udfs/migration/redshift/translate.sqlx
  udfs/migration/snowflake/factorial.sqlx
  udfs/migration/teradata/ascii.sqlx
  udfs/migration/teradata/chr.sqlx
  udfs/migration/teradata/decode1.sqlx
  udfs/migration/teradata/decode2.sqlx
  udfs/migration/teradata/decode3.sqlx
  udfs/migration/teradata/index.sqlx
  udfs/migration/teradata/initcap.sqlx
  udfs/migration/teradata/instr.sqlx
  udfs/migration/teradata/last_day.sqlx
  udfs/migration/teradata/left.sqlx
  udfs/migration/teradata/months_between.sqlx
  udfs/migration/teradata/nullifzero.sqlx
  udfs/migration/teradata/nvl.sqlx
  udfs/migration/teradata/nvl2.sqlx
  udfs/migration/teradata/otranslate.sqlx
  udfs/migration/teradata/right.sqlx
  udfs/migration/teradata/test_cases.js
  udfs/migration/teradata/zeroifnull.sqlx
Due: none

Update dashboards/system_tables/sql/reservation_utilization_week.sql
  dashboards/system_tables/sql/reservation_utilization_week.sql
Due: none

Add missing project id to UDF invocation within a UDF
  udfs/community/day_occurrence_of_month.sql
Due: none

Rename week_number_of_month to week_of_month
  udfs/community/README.md
Due: none

Rename week_number_of_month to week_of_month
  udfs/community/day_occurrence_of_month.sql
Due: none

Rename week_number_of_month to week_of_month
  udfs/community/test_cases.yaml
Due: none

Add trailing newline
  udfs/community/test_cases.yaml
Due: none

Add SAFE_DIVIDE to reservation_utilization_week.sql (#259)
  dashboards/system_tables/sql/reservation_utilization_week.sql
Due: none

Update random_string.sql
  udfs/community/random_string.sql
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
