Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Revert "Adding views which depend on base tables"
  udfs/community/README.md
Due: none

Improving SQLX UDFs
  udfs/community/csv_to_struct.sqlx
  udfs/community/find_in_set.sqlx
  udfs/community/freq_table.sqlx
  udfs/community/get_array_value.sqlx
  udfs/community/get_value.sqlx
  udfs/community/int.sqlx
  udfs/community/json_typeof.sqlx
  udfs/community/kruskal_wallis.sqlx
  udfs/community/last_day.sqlx
  udfs/community/levenshtein.sqlx
  udfs/community/linear_interpolate.sqlx
  udfs/community/linear_regression.sqlx
  udfs/community/median.sqlx
  udfs/community/multiply_full_scale.sqlx
  udfs/community/nlp_compromise_number.sqlx
  udfs/community/nlp_compromise_people.sqlx
  udfs/community/percentage_change.sqlx
  udfs/community/percentage_difference.sqlx
  udfs/community/pvalue.sqlx
  udfs/community/radians.sqlx
  udfs/community/random_int.sqlx
  udfs/community/random_value.sqlx
  udfs/community/string_to_struct.sqlx
  udfs/community/translate.sqlx
  udfs/community/ts_gen_keyed_timestamps.sqlx
  udfs/community/ts_linear_interpolate.sqlx
  udfs/community/ts_session_group.sqlx
  udfs/community/ts_slide.sqlx
  udfs/community/ts_tumble.sqlx
  udfs/community/typeof.sqlx
  udfs/community/url_keys.sqlx
  udfs/community/url_param.sqlx
  udfs/community/url_parse.sqlx
  udfs/community/y4md_to_date.sqlx
  udfs/community/zeronorm.sqlx
  udfs/tests/dataform_testing_framework/dataform_udf_unit_tests/definitions/tests/test_cases.js
  udfs/tests/dataform_testing_framework/dataform_udf_unit_tests/includes/unit_test_utils.js
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Refactor run_tests.sh
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Adding test_cases.js to community folder
  udfs/community/test_cases.js
Due: none

DRY code
  udfs/tests/dataform_testing_framework/dataform_template.json
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Add more local cleanup for use during testing
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

DRYing up more code
  udfs/tests/dataform_testing_framework/dataform_template.json
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Restore test_cases.js after UDFs are deployed
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Add dataset variable to cleanup function
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

consolidate two functions into one
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: none

Adding Vertica UDFs and unit tests
  udfs/migration/vertica/README.md
  udfs/migration/vertica/lowerb.sqlx
  udfs/migration/vertica/substrb.sqlx
  udfs/migration/vertica/test_cases.js
  udfs/migration/vertica/upperb.sqlx
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

cleanup
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Adapt run_tests.sh for cloud_build.yaml run
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Testing new build process
  udfs/tests/Dockerfile.ci
Due: hadolint

Removing stray file from testing
  udfs/community/package.json
Due: none

Fix
  udfs/tests/Dockerfile.ci
Due: hadolint

Fix
  udfs/cloudbuild.yaml
Due: none

Fix
  release/build.sh
Due: shellcheck

Fix
  udfs/cloudbuild.yaml
  udfs/tests/Dockerfile.ci
Due: hadolint

Fix
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: none

Fix
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

first commit
  udfs/community/README.md
  udfs/community/pi.sql
  udfs/community/test_cases.yaml
Due: none

Format javascript, Remove old code
  udfs/cloudbuild.yaml
  udfs/migration/vertica/test_cases.js
Due: none

Fixes and formatting
  release/build.sh
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

commenting and cleanup
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Comment out env variables that are normally set by cloud build
  udfs/tests/dataform_testing_framework/run_tests.sh
Due: shellcheck

Re-use bq_udf_ci image for node step
  udfs/cloudbuild.yaml
Due: none

Uncomment remnants from testing
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: none

Re-use bq_udf_ci for all build steps
  udfs/cloudbuild.yaml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
