Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

add unit test timeout
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

explicit local backend
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
Due: none

debug missing state file
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

debug
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

relative state path
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

typo .[tf]state
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fixup docs
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
Due: none

chore: clean up subscriber
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fix: don't try to regex match _backlog/* items
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

don't regex match in triage if ordering enabled (this happens later)
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix: subscriber monitor get table prefix
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
Due: pylint

fix: get_table_prefix issues w/ backlog, backfill and historydone
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix: look_for_config_in_parents should return empty string for empty file
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fix table prefix w/ trailing slash
  tools/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

use get_table_prefix instead of removesuffix
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

chore: refactor terraform into pytest fixture to always clean up
  tools/cloud_functions/gcs_event_based_ingest/.hadolint.yaml
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/scripts/install_terraform.sh
Due: pylint, hadolint, shellcheck

fix don't removesuffix for start backfill file
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fixup isort
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
Due: pylint

more logging statements fail on untriageable event
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix pylint
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

feat: env-var t numDmlRowsAffected = 0 as a failure
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

[skip ci] add comment to cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

[skip ci] update comment in cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

chore: clean up unused fixture, init files
  tools/__init__.py
  tools/cloud_functions/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
Due: pylint

Update README.md
  stored_procedures/README.md
Due: none

chore: improve terraform printint in pytest fixture
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
Due: pylint

better bq job ids
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fixup regex escaping
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

make pylint happy
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

[skip ci] more docs
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

fix default load config return type
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fix script bugs
  performance_testing/jmeter/examples/battery.sh
Due: shellcheck

time series slide and session funcs (#206)
  udfs/community/README.md
  udfs/community/test_cases.yaml
  udfs/community/ts_session_group.sql
  udfs/community/ts_slide.sql
Due: none

update script to lower user counts and set default slots based on on-demand
  performance_testing/jmeter/examples/run_jmeter_jdbc_sampler.sh
Due: shellcheck

add README
  performance_testing/jmeter/examples/README.md
Due: none

fix: fail on failure of children jobs
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

chore: add test for child job failing behavior
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

fixup flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

fixup flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
Due: pylint
