Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Removed as from insert query
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BQAccessor.java
Due: none

parse pub/sub messages using generic classes
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BQAccessor.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BigQueryLogMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/GCSNotificationMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/GenericMessage.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/JobAccessor.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PipelineController.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PubSubMessageParser.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PubSubMessageProperties.java
Due: none

Added require variable for metadata pojos
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BigQueryLogMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/GCSNotificationMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PipelineController.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PubSubMessageParser.java
Due: none

Removed unnecessary print statements
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BQAccessor.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/GCSNotificationMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/JobAccessor.java
Due: none

Remove unneccessary dependencies from pom file
  tools/cloud_run/event_driven_bq_ingest/pom.xml
Due: none

Reformat code
  tools/cloud_run/event_driven_bq_ingest/pom.xml
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BQAccessor.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/BigQueryLogMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/GCSNotificationMetadata.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/GenericMessage.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/JobAccessor.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PipelineController.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/PubSubMessageParser.java
  tools/cloud_run/event_driven_bq_ingest/src/main/java/com/example/cloudrun/testdata.json
Due: none

Adding build optimizations
  cloudbuild.yaml
  release/build.sh
  release/git_init.sh
Due: shellcheck

Add check_constraints tool
  tools/check_constraints/README.md
  tools/check_constraints/check_constraints.sql
  tools/check_constraints/cloud_function/trigger_table_1.py
  tools/check_constraints/img/cloud_function.png
  tools/check_constraints/img/constraint_violation_error.png
  tools/check_constraints/img/json_constraints.png
  tools/check_constraints/img/results.png
  tools/check_constraints/img/sink.png
Due: pylint

Update images in README
  tools/check_constraints/README.md
Due: none

Create a folder for sql
  tools/check_constraints/sql/check_constraints.sql
Due: none

added testing version of ANOVA
  udfs/community/anovaftest.sqlx
Due: none

commented out config temporarily
  udfs/community/anovaftest.sqlx
Due: none

adds a data vault implementation example on BigQuery by using Dataform
  dataform/examples/dataform_datavault/.gitignore
  dataform/examples/dataform_datavault/README.md
  dataform/examples/dataform_datavault/dataform.json
  dataform/examples/dataform_datavault/definitions/raw/hub_meter.sqlx
  dataform/examples/dataform_datavault/definitions/raw/hub_readings.sqlx
  dataform/examples/dataform_datavault/definitions/raw/link_meter_readings.sqlx
  dataform/examples/dataform_datavault/definitions/raw/sat_meter.sqlx
  dataform/examples/dataform_datavault/definitions/raw/sat_readings.sqlx
  dataform/examples/dataform_datavault/definitions/sources/meter_load.sqlx
  dataform/examples/dataform_datavault/definitions/sources/meter_readings_load.sqlx
  dataform/examples/dataform_datavault/includes/hashing.js
  dataform/examples/dataform_datavault/package.json
Due: none

inital commit
  tools/terraform_sync_tool/main.tf
  tools/terraform_sync_tool/variables.tf
Due: none

Added Anova. Trying to get testing to go through.
  udfs/community/anovaftest.sqlx
  udfs/community/test_cases.js
  udfs/js_libs/js_libs.yaml
Due: none

create sample dataset in BigQeury
  tools/terraform_sync_tool/bq_schema.json
  tools/terraform_sync_tool/main.tf
  tools/terraform_sync_tool/variables.tf
Due: none

Adding creation of stored procedures to the deploy step of Cloud Build
  release/build.sh
Due: shellcheck

Changing "bq query" command to use stdin redirect from file instead of using cat
  release/build.sh
Due: shellcheck

Nit fix to avoid doing unnecessary build work + adding stored procs to deploy step (#273)
  cloudbuild.yaml
  release/build.sh
  release/git_init.sh
Due: shellcheck

add cloudbuild.yaml
  tools/terraform_sync_tool/cloudbuild.yaml
Due: none

table json schema
  tools/terraform_sync_tool/BatchControlLog.json
Due: none

Authentication step to use ADC
  dataform/examples/dataform_datavault/README.md
Due: none

Delete bq_schema.json
  tools/terraform_sync_tool/bq_schema.json
Due: none

Delete BatchControlLog.json
  tools/terraform_sync_tool/BatchControlLog.json
Due: none

terraform sync tool
  tools/terraform_sync_tool/cloudbuild.yaml
  tools/terraform_sync_tool/deploy.sh
  tools/terraform_sync_tool/main.tf
  tools/terraform_sync_tool/modules/terraform-sync-tool/main.tf
  tools/terraform_sync_tool/modules/terraform-sync-tool/variables.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/backend.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/main.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/provider.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/terragrunt.hcl
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/variables.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/json_schemas/TableForTest.json
  tools/terraform_sync_tool/qa/terraform-sync-tool/terragrunt.hcl
  tools/terraform_sync_tool/qa/terragrunt.hcl
  tools/terraform_sync_tool/state.json
  tools/terraform_sync_tool/variables.tf
Due: shellcheck

change dir
  tools/terraform_sync_tool/cloudbuild.yaml
Due: none

specify dir from yaml file
  tools/terraform_sync_tool/cloudbuild.yaml
Due: none

add step1 to run python scripts
  tools/terraform_sync_tool/cloudbuild.yaml
  tools/terraform_sync_tool/requirements.txt
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Delete auto generated contents
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/backend.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/main.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/provider.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/terragrunt.hcl
  tools/terraform_sync_tool/qa/terraform-sync-tool/.terragrunt-cache/p_j4FB4mL9XxOE2ZEpQd6ow4-uQ/G4eNQFLLAF6iZ90VzUweI-xTZiE/variables.tf
Due: none

fix: billing analytics script - monthly invoice costs
  scripts/billing/sql/monthly_invoice_costs_credits.sql
Due: none

Added Anova f test
  udfs/community/test_cases.js
Due: none

test
  udfs/community/anovaftest.sqlx
  udfs/community/test_cases.js
Due: none

Update tools/terraform_sync_tool/deploy.sh output json file
  tools/terraform_sync_tool/deploy.sh
Due: shellcheck

Update tools/terraform_sync_tool/qa/terragrunt.hcl
  tools/terraform_sync_tool/qa/terragrunt.hcl
Due: none

Delete state.json
  tools/terraform_sync_tool/state.json
Due: none

Update schema JSON
  tools/terraform_sync_tool/qa/terraform-sync-tool/json_schemas/TableForTest.json
Due: none

Rename module to bq-setup
  tools/terraform_sync_tool/modules/bq-setup/main.tf
  tools/terraform_sync_tool/modules/bq-setup/variables.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/terragrunt.hcl
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
