Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Changing triggers to run on pull requests
  release/terraform/main.tf
Due: none

Nit
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Change triggers to be regional to spread out resource usage across regional pool instead of one global pool
  release/terraform/main.tf
Due: none

Revert regional triggers
  release/terraform/main.tf
Due: none

Adding comment on legacy dataset naming
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Run in regional worker pool for higher concurrency
  release/terraform/main.tf
Due: none

move pool spec to top level cloudbuild.yaml
  cloudbuild.yaml
  release/terraform/main.tf
Due: none

fix pool spec
  cloudbuild.yaml
Due: none

updating machine type
  cloudbuild.yaml
Due: none

remove machine type since workerpool specifies it
  cloudbuild.yaml
Due: none

Linting nit
  release/build.sh
Due: shellcheck

Add README section for global UDFs
  udfs/README.md
Due: none

Use latest terraform image
  release/terraform/cloudbuild.yaml
Due: none

Make udf unit testing run in worker pool
  udfs/cloudbuild.yaml
Due: none

run dynamic builds in us-central1
  release/build.sh
Due: shellcheck

Add comments
  udfs/cloudbuild.yaml
Due: none

Increase gcloud build polling interval from 1s to 10s
  release/build.sh
Due: shellcheck

fix
  release/build.sh
Due: shellcheck

Only remove objects from test build buckets
  release/build.sh
Due: shellcheck

nit
  release/build.sh
Due: shellcheck

use gcloud storage tool now that it's recommended over gsutil
  release/build.sh
  udfs/cloudbuild.yaml
Due: shellcheck

build CI image in test env
  udfs/cloudbuild.yaml
Due: none

Add ability to manually rebuild testing image
  cloudbuild.yaml
  release/build.sh
Due: shellcheck

upgrade node version from 16 to 20
  udfs/tests/Dockerfile.ci
Due: hadolint

add debugging print statement
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

fix variable
  release/build.sh
Due: shellcheck

another debugging print statement
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

changing into target dir before running dataform
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

run dataform from within each udf directory
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Add printf during testing phase
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

testing cloud build triggers
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Allow allAuthenticatedUsers read bucket access in bqutil
  release/terraform/main.tf
Due: none

inherited
  release/terraform/main.tf
Due: none

bqutil
  release/terraform/main.tf
Due: none

bqutil authenticated users simplified terraform
  release/terraform/main.tf
Due: none

Comment control for non-us builds
  release/terraform/main.tf
Due: none

dynamic push/pr blocks
  release/terraform/main.tf
Due: none

Terraform for GCS buckets and Build triggers to deploy UDF to all regions (#405)
  .gitignore
  cloudbuild.yaml
  release/build.sh
  release/terraform/.terraform.lock.hcl
  release/terraform/cloudbuild.yaml
  release/terraform/main.tf
  release/terraform/variables.tf
  udfs/README.md
  udfs/cloudbuild.yaml
  udfs/tests/Dockerfile.ci
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: hadolint, shellcheck

Add checks to only run regional builds for UDFs
  release/build.sh
Due: shellcheck

Add checks to only run regional builds for UDFs (#406)
  release/build.sh
Due: shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
