Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

feat: add export_schemas tool for bq
  tools/export_schemas/README.md
  tools/export_schemas/export_schemas.py
Due: pylint

chore: change default region to us multi-region
  tools/export_schemas/export_schemas.py
Due: pylint

chore: add pre-defined roles needed to run in README
  tools/export_schemas/README.md
Due: none

chore: add more verbose logging
  tools/export_schemas/export_schemas.py
Due: pylint

chore: add python bq client library
  tools/export_schemas/requirements.txt
Due: none

feat: add threading and use python bq client library
  tools/export_schemas/export_schemas.py
Due: pylint

chore: update docs with client library and threading args
  tools/export_schemas/README.md
Due: none

feat: use higher-level concurrent.futures for parallelism
  tools/export_schemas/export_schemas.py
Due: pylint

chore: remove threads arg
  tools/export_schemas/README.md
Due: none

feat: add export_schemas tool for bq (#515)
  tools/export_schemas/README.md
  tools/export_schemas/export_schemas.py
  tools/export_schemas/requirements.txt
Due: pylint

chore: remove newline at end of file
  scripts/optimization/bi_engine_mode_duration.sql
Due: none

feat: consolidate duration percentiles into query hash org and proj level scripts
  scripts/optimization/queries_grouped_by_hash_org.sql
  scripts/optimization/queries_grouped_by_hash_project.sql
Due: none

chore: remove old duration scripts and update README.md
  scripts/optimization/README.md
  scripts/optimization/queries_grouped_by_hash_org_duration.sql
  scripts/optimization/queries_grouped_by_hash_project_duration.sql
Due: none

chore: remove newline in queries by hash org
  scripts/optimization/queries_grouped_by_hash_org.sql
Due: none

chore: Migrate gsutil usage to gcloud storage
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

chore: Migrate gsutil usage to gcloud storage (#519)
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

Add RDIFF and LDIFF udf with RANGE datetypes.
  udfs/community/README.md
  udfs/community/cw_range_date_ldiff.sqlx
  udfs/community/cw_range_date_rdiff.sqlx
  udfs/community/cw_range_datetime_ldiff.sqlx
  udfs/community/cw_range_datetime_rdiff.sqlx
  udfs/community/cw_range_timestamp_ldiff.sqlx
  udfs/community/cw_range_timestamp_rdiff.sqlx
  udfs/community/test_cases.js
Due: none

fix: replace allAuthenticatedUsers with allUsers in terraform IAM
  release/terraform/main.tf
Due: none

Update license header year to present year
  udfs/community/cw_range_date_ldiff.sqlx
  udfs/community/cw_range_date_rdiff.sqlx
  udfs/community/cw_range_datetime_ldiff.sqlx
  udfs/community/cw_range_datetime_rdiff.sqlx
  udfs/community/cw_range_timestamp_ldiff.sqlx
  udfs/community/cw_range_timestamp_rdiff.sqlx
Due: none

Add RDIFF and LDIFF udf with RANGE datetypes. (#520)
  udfs/community/README.md
  udfs/community/cw_range_date_ldiff.sqlx
  udfs/community/cw_range_date_rdiff.sqlx
  udfs/community/cw_range_datetime_ldiff.sqlx
  udfs/community/cw_range_datetime_rdiff.sqlx
  udfs/community/cw_range_timestamp_ldiff.sqlx
  udfs/community/cw_range_timestamp_rdiff.sqlx
  udfs/community/test_cases.js
Due: none

feat: Initial directory and README for PT to DGT migration tool
  tools/pt_to_dgt_migration/README.md
Due: none

feat: Initial directory and README for Policy Tags migration tool
  tools/policy_tags_migration/README.md
  tools/pt_to_dgt_migration/README.md
Due: none

Update README.md
  performance_testing/jmeter/README.md
Due: none

feat: Add a tool for migrating BigQuery policy tags from one region to another
  tools/policy_tags_migration/README.md
  tools/policy_tags_migration/migrate_policy_tags.py
Due: pylint

Update README.md (#524)
  performance_testing/jmeter/README.md
Due: none

Adding baseline recommender script
  scripts/optimization/baseline_recommender.sql
Due: none

chore: update license year and descriptions
  scripts/optimization/actively_read_tables_with_partitioning_clustering_info.sql
  scripts/optimization/bi_engine_disabled_reasons.sql
  scripts/optimization/bi_engine_mode_duration.sql
  scripts/optimization/daily_project_analysis.sql
  scripts/optimization/daily_reservation_analysis.sql
  scripts/optimization/enable_recommender_api.sh
  scripts/optimization/frequent_daily_table_dml.sql
  scripts/optimization/hourly_slot_consumption_by_labels.sql
  scripts/optimization/hourly_slot_consumption_by_query_hash.sql
  scripts/optimization/queries_grouped_by_hash_org.sql
  scripts/optimization/queries_grouped_by_hash_project.sql
  scripts/optimization/queries_grouped_by_labels.sql
  scripts/optimization/queries_grouped_by_script.sql
  scripts/optimization/query_performance_insights.sql
  scripts/optimization/run_all_scripts.sh
  scripts/optimization/table_read_patterns.sql
  scripts/optimization/table_read_patterns_by_query_hash.sql
  scripts/optimization/tables_without_partitioning_or_clustering.sql
  scripts/optimization/viewable_queries_grouped_by_hash.sql
  scripts/optimization/views_with_nonoptimal_join_condition.sql
Due: shellcheck

fix: remove ORDER BY from table creation script + add readme example
  scripts/optimization/README.md
  scripts/optimization/bi_engine_mode_duration.sql
Due: none

fix: remove ORDER BY and limit from queries_grouped_by_hash_project + add README example queries
  scripts/optimization/README.md
  scripts/optimization/queries_grouped_by_hash_project.sql
Due: none

chore: move bi engine tables into Query analysis section + add example queries
  scripts/optimization/README.md
Due: none

chore: add description for bi_engine_disabled_reasons
  scripts/optimization/bi_engine_disabled_reasons.sql
Due: none

fix: license years on existing scripts
  scripts/optimization/actively_read_tables_with_partitioning_clustering_info.sql
  scripts/optimization/daily_project_analysis.sql
  scripts/optimization/daily_reservation_analysis.sql
  scripts/optimization/enable_recommender_api.sh
  scripts/optimization/frequent_daily_table_dml.sql
  scripts/optimization/queries_grouped_by_hash_org.sql
  scripts/optimization/queries_grouped_by_hash_project.sql
  scripts/optimization/queries_grouped_by_script.sql
  scripts/optimization/query_performance_insights.sql
  scripts/optimization/run_all_scripts.sh
  scripts/optimization/table_read_patterns.sql
  scripts/optimization/table_read_patterns_by_query_hash.sql
  scripts/optimization/tables_without_partitioning_or_clustering.sql
  scripts/optimization/viewable_queries_grouped_by_hash.sql
  scripts/optimization/views_with_nonoptimal_join_condition.sql
Due: shellcheck

Refactor queries_grouped by hash and 2 additional optimization scripts from PR #471 (#517)
  scripts/optimization/README.md
  scripts/optimization/bi_engine_disabled_reasons.sql
  scripts/optimization/bi_engine_mode_duration.sql
  scripts/optimization/hourly_slot_consumption_by_labels.sql
  scripts/optimization/hourly_slot_consumption_by_query_hash.sql
  scripts/optimization/queries_grouped_by_hash_org.sql
  scripts/optimization/queries_grouped_by_hash_project.sql
  scripts/optimization/queries_grouped_by_labels.sql
Due: none

Update policy tags migration script
  tools/policy_tags_migration/README.md
  tools/policy_tags_migration/migrate_policy_tags.py
Due: pylint

Add emulation function for Snowflake's OBJECT_AGG()
  udfs/migration/snowflake/README.md
  udfs/migration/snowflake/object_agg.sqlx
  udfs/migration/snowflake/test_cases.js
Due: none

Add emulation function for Snowflake's OBJECT_AGG() (#539)
  udfs/migration/snowflake/README.md
  udfs/migration/snowflake/object_agg.sqlx
  udfs/migration/snowflake/test_cases.js
Due: none

Add function to emulate Snowflake's equality operator for arrays.
  udfs/migration/snowflake/README.md
  udfs/migration/snowflake/array_equal.sqlx
  udfs/migration/snowflake/test_cases.js
Due: none

Add function to emulate Snowflake's equality operator for arrays. (#540)
  udfs/migration/snowflake/README.md
  udfs/migration/snowflake/array_equal.sqlx
  udfs/migration/snowflake/test_cases.js
Due: none

Add functions to emulate Snowflake's bitmap_bit_position and bitmap_bucket_number
  udfs/migration/snowflake/README.md
  udfs/migration/snowflake/bitmap_bit_position.sqlx
  udfs/migration/snowflake/bitmap_bucket_number.sqlx
  udfs/migration/snowflake/test_cases.js
Due: none

chore: increase Cloud Build timeout to 7200s
  udfs/cloudbuild.yaml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
