Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

wip
  .coverage
  .flake8
  .hadolint.yaml
  .isort.cfg
  .mypy.ini
  .pylintrc
  .style.yapf
  cloudbuild.yaml
  pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/unsupervised_dataset/sql_crawler/extraction_modules/extraction_module_1.py
  tools/unsupervised_dataset/sql_crawler/tests/crawler_log_test.py
  udfs/community/test_cases.yaml
  udfs/community/y4md_to_date.sql
  udfs/tests/run.sh
  views/audit/README.md
  yamllint-config.yml
Due: pylint, shellcheck

remove unused push.sh
  ci/image/push.sh
Due: shellcheck

add note to contributing.md
  CONTRIBUTING.md
Due: none

doctoc
  CONTRIBUTING.md
Due: none

fixup import google style
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

fixup ci cloudbuild
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

remove trailing whitespace
  tools/cloud_functions/README.md
  tools/cloud_functions/gcs_event_based_ingest/.style.yapf
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/img/bq-ingest.png
Due: none

Cloud functions ingest: backfill CLI tool + minor improvements (#190)
  tools/cloud_functions/README.md
  tools/cloud_functions/gcs_event_based_ingest/.isort.cfg
  tools/cloud_functions/gcs_event_based_ingest/.style.yapf
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/img/bq-ingest.png
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

wip
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

remove redundant cloudbuild steps
  tools/cloud_functions/gcs_event_based_ingest/.flake8
  tools/cloud_functions/gcs_event_based_ingest/.isort.cfg
  tools/cloud_functions/gcs_event_based_ingest/.mypy.ini
  tools/cloud_functions/gcs_event_based_ingest/.pylintrc
  tools/cloud_functions/gcs_event_based_ingest/.style.yapf
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fixup pylint for cloud function
  .pylintrc
  requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

init pre-commit
  .flake8
  .hadolint.yaml
  .isort.cfg
  .mypy.ini
  .pre-commit-config.yaml
  .pylintrc
  .style.yapf
  CONTRIBUTING.md
  ci/cache/_functions.sh
  ci/cache/restore_cache.sh
  ci/cache/store_cache.sh
  ci/image/Dockerfile
  ci/image/_functions.sh
  ci/image/fix_ownership.sh
  ci/image/in_container/install_terraform.sh
  ci/image/in_container/install_terraform_docs.sh
  ci/image/in_container/install_tflint.sh
  ci/run_precommit.sh
  license-templates/LICENSE.txt
  precommit_cloudbuild.yaml
  pytest.ini
  requirements-dev.txt
Due: hadolint, shellcheck

update cloud function
  tools/cloud_functions/README.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/versions.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

Add restricted endpoint support, refactor claiming
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  udfs/tests/.gitignore
Due: pylint, hadolint

fixup! remove unused restricted subdomain global
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

add unit test for targeting another project
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

fixup hadolint
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
Due: hadolint

fix broken png
  tools/cloud_functions/gcs_event_based_ingest/img/bq-ingest.png
Due: none

docs/writeDispositionTypo
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

feat: tf gcs-bq-ingest module sets bq permissions
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  udfs/tests/.gitignore
Due: none

fixup roles
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
Due: none

fixup dockerfil ci check
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
Due: hadolint

time series UDFs
  udfs/community/linear_interpolate.sql
  udfs/community/ts_gen_keyed_timestamps.sql
  udfs/community/ts_interpolate_lin_interpolate.sql
  udfs/community/ts_tumble.sql
Due: none

code review changes
  udfs/community/README.md
  udfs/community/linear_interpolate.sql
  udfs/community/test_cases.yaml
  udfs/community/ts_gen_keyed_timestamps.sql
  udfs/community/ts_linear_interpolate.sql
  udfs/community/ts_tumble.sql
Due: none

refactor claiming logic (#193)
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  udfs/tests/.gitignore
Due: pylint, hadolint

chore: add unit test for targeting dataset in another project (#194)
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint, hadolint

fix broken png (#195)
  tools/cloud_functions/gcs_event_based_ingest/img/bq-ingest.png
Due: none

docs/writeDispositionTypo (#196)
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

docs: add note on unicode delimiters
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

chore: improve error message for wrong external table name
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

better error message
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

add yamllint-config.yml
  yamllint-config.yml
Due: none

fix: update nested values in configs
  tools/cloud_functions/gcs_event_based_ingest/.flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

chore: improve error message for wrong external table name (#200)
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix: external configs not found in parent dirs
  tools/cloud_functions/gcs_event_based_ingest/.flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

Adding helper assets for JMeter performance testing on BigQuery
  performance_testing/jmeter/README.md
  performance_testing/jmeter/bigquery_http_sampler.jmx
  performance_testing/jmeter/bigquery_jdbc_sampler.jmx
  performance_testing/jmeter/cancel_running_jobs.py
  performance_testing/jmeter/http_sampler_results.sql
  performance_testing/jmeter/jdbc_sampler_results.sql
  performance_testing/jmeter/run_jmeter_http_sampler.sh
  performance_testing/jmeter/run_jmeter_jdbc_sampler.sh
  performance_testing/jmeter/test_queries/complex_selects.csv
  performance_testing/jmeter/test_queries/medium_selects.csv
  performance_testing/jmeter/test_queries/simple_selects.csv
Due: pylint, shellcheck

time series UDFs (#198)
  udfs/community/README.md
  udfs/community/linear_interpolate.sql
  udfs/community/test_cases.yaml
  udfs/community/ts_gen_keyed_timestamps.sql
  udfs/community/ts_linear_interpolate.sql
  udfs/community/ts_tumble.sql
Due: none

Adding trailing new lines and removing commented code
  performance_testing/jmeter/cancel_running_jobs.py
  performance_testing/jmeter/http_sampler_results.sql
  performance_testing/jmeter/jdbc_sampler_results.sql
  performance_testing/jmeter/run_jmeter_http_sampler.sh
  performance_testing/jmeter/run_jmeter_jdbc_sampler.sh
  performance_testing/jmeter/test_queries/complex_selects.csv
  performance_testing/jmeter/test_queries/medium_selects.csv
  performance_testing/jmeter/test_queries/simple_selects.csv
Due: pylint, shellcheck

Adding helper assets for JMeter performance testing on BigQuery (#203)
  performance_testing/jmeter/README.md
  performance_testing/jmeter/bigquery_http_sampler.jmx
  performance_testing/jmeter/bigquery_jdbc_sampler.jmx
  performance_testing/jmeter/cancel_running_jobs.py
  performance_testing/jmeter/http_sampler_results.sql
  performance_testing/jmeter/jdbc_sampler_results.sql
  performance_testing/jmeter/run_jmeter_http_sampler.sh
  performance_testing/jmeter/run_jmeter_jdbc_sampler.sh
  performance_testing/jmeter/test_queries/complex_selects.csv
  performance_testing/jmeter/test_queries/medium_selects.csv
  performance_testing/jmeter/test_queries/simple_selects.csv
Due: pylint, shellcheck
