Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

add sql hint for block
  performance_testing/jmeter/examples/README.md
Due: none

Addressing review comments
  cloudbuild.yaml
  release/git_init.sh
  udfs/dir_to_dataset_map.yaml
  udfs/tests/udf_test_utils.py
Due: pylint, shellcheck

feat: separate bq storage and compute project env vars
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

Addressing review comments
  release/git_init.sh
Due: shellcheck

update copyright date, add license header to run_jmeter_jdbc_sampler.sh
  performance_testing/jmeter/examples/battery.sh
  performance_testing/jmeter/examples/run_jmeter_jdbc_sampler.sh
Due: shellcheck

add performance_testing, relocate cloud functions under tools
  README.md
Due: none

fix whitespace on cloud functions bullet
  README.md
Due: none

Resolving conflict with master branch
  udfs/community/test_cases.yaml
Due: none

Fixing git_init script to refer to head of PR when fetching changes
  release/git_init.sh
Due: shellcheck

Merging latest tests from main branch
  udfs/community/test_cases.yaml
Due: none

feat: add utility for dry running external queries
  tools/cloud_functions/gcs_event_based_ingest/dry_run_external.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_dry_run_external.py
Due: pylint

Comment fixes
  udfs/cloudbuild_deploy.yaml
Due: none

docs: add note on unicode delimiters (#199)
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

terraform: gcs bq ingest multi-project permissions (#197)
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
Due: none

fix: update nested values in configs (#202)
  tools/cloud_functions/gcs_event_based_ingest/.flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

Update tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

fix: external configs not found in parent dirs (#201)
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

fixup! module docstring for dry_run_external cli
  tools/cloud_functions/gcs_event_based_ingest/dry_run_external.py
Due: pylint

fixup! flake8
  tools/cloud_functions/gcs_event_based_ingest/dry_run_external.py
Due: pylint

custom dataform assertions
  .gitignore
  README.md
  tools/dataform_assertions/README.md
  tools/dataform_assertions/customer_data/customer.csv
  tools/dataform_assertions/customer_data/customer_info.csv
  tools/dataform_assertions/dataform.json
  tools/dataform_assertions/definitions/sources/customer.sqlx
  tools/dataform_assertions/definitions/sources/customer_info.sqlx
  tools/dataform_assertions/definitions/staging/full_customer.sqlx
  tools/dataform_assertions/definitions/tests/date_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/date_format_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/email_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/gender_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/marital_status_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/personal_info_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/phone_assertions_unit_test.sqlx
  tools/dataform_assertions/includes/date_assertions.js
  tools/dataform_assertions/includes/personal_info_assertions.js
  tools/dataform_assertions/includes/phone_assertions.js
  tools/dataform_assertions/package-lock.json
  tools/dataform_assertions/package.json
Due: none

support non-dryrun
  tools/cloud_functions/gcs_event_based_ingest/external_query.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_external_query.py
Due: pylint

fixup dry run default
  tools/cloud_functions/gcs_event_based_ingest/external_query.py
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_external_query.py
Due: pylint

Adding more descriptive name for cloudbuild file used to build test image
  release/build.sh
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: shellcheck

Adding no-cache-dir flag to dockerfile
  udfs/tests/Dockerfile.ci
Due: hadolint

Add trailing new line
  udfs/tests/Dockerfile.ci
Due: hadolint

Adding Note to README for proper invocation of javascript libraries
  udfs/js_libs/README.md
Due: none

Adding CI/CD process for hosting minified javascript libraries (#187)
  cloudbuild.yaml
  release/build.sh
  release/git_init.sh
  udfs/CONTRIBUTING.md
  udfs/cloudbuild_deploy.yaml
  udfs/community/nlp_compromise_number.sql
  udfs/community/nlp_compromise_people.sql
  udfs/community/test_cases.yaml
  udfs/dir_to_dataset_map.yaml
  udfs/js_libs/README.md
  udfs/js_libs/js_libs.yaml
  udfs/tests/Dockerfile.ci
  udfs/tests/cloudbuild_udf_test_image.yaml
  udfs/tests/create_udf_signatures.py
  udfs/tests/requirements.txt
  udfs/tests/run.sh
  udfs/tests/test_create_udfs.py
  udfs/tests/test_run_udfs.py
  udfs/tests/udf_test_utils.py
Due: pylint, hadolint, shellcheck

Apply suggestions from code review
  tools/dataform_assertions/dataform.json
  tools/dataform_assertions/definitions/sources/customer.sqlx
  tools/dataform_assertions/definitions/sources/customer_info.sqlx
Due: none

Deleted customer_data and added new line to files
  tools/dataform_assertions/customer_data/customer.csv
  tools/dataform_assertions/customer_data/customer_info.csv
  tools/dataform_assertions/definitions/staging/full_customer.sqlx
  tools/dataform_assertions/definitions/tests/date_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/date_format_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/email_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/gender_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/marital_status_assertion_unit_test.sqlx
  tools/dataform_assertions/includes/date_assertions.js
  tools/dataform_assertions/includes/personal_info_assertions.js
  tools/dataform_assertions/includes/phone_assertions.js
Due: none

fix: don't require escaping braces in sql, still support {dest_dataset} {dest_table} rendering
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

Formatted sql string
  tools/dataform_assertions/definitions/sources/customer.sqlx
  tools/dataform_assertions/definitions/sources/customer_info.sqlx
Due: none

Fixed the file name and the tag name as well as the name validation
  tools/dataform_assertions/definitions/tests/email_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/gender_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/marital_status_assertion_unit_test.sqlx
  tools/dataform_assertions/includes/personal_info_assertions.js
Due: none

changed tags for date assertions unit tests
  tools/dataform_assertions/definitions/tests/date_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/date_format_assertions_unit_test.sqlx
Due: none

happy newyear! copyright 2020 -> 2021
  tools/cloud_functions/gcs_event_based_ingest/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/scripts/install_terraform.sh
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/versions.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint, shellcheck

Fixed file name with tag name
  tools/dataform_assertions/definitions/tests/date_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/date_format_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/email_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/gender_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/marital_status_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/personal_info_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/tests/phone_assertions_unit_test.sqlx
Due: none

Updated javascript template literals to make sql string earsier to read. Restructed the file system to delete source and staging and only keeping unit tests
  tools/dataform_assertions/dataform.json
  tools/dataform_assertions/definitions/date_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/date_format_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/email_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/gender_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/marital_status_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/personal_info_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/phone_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/sources/customer.sqlx
  tools/dataform_assertions/definitions/sources/customer_info.sqlx
  tools/dataform_assertions/definitions/staging/full_customer.sqlx
  tools/dataform_assertions/includes/date_assertions.js
  tools/dataform_assertions/includes/personal_info_assertions.js
  tools/dataform_assertions/includes/phone_assertions.js
Due: none

Renamed into *_row_assertions_unit_test, changed test_* into input and added True/False flagger. Also updated README.md to reflect modifications
  README.md
  tools/dataform_assertions/README.md
  tools/dataform_assertions/definitions/date_format_row_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/date_row_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/email_row_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/gender_row_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/marital_status_row_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/personal_info_row_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/phone_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/phone_row_assertions_unit_test.sqlx
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
