Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

Add a check to the UDF build/test process which will only delete BigQuery datasets if the SHORT_SHA environment variable is set (meaning a test dataset was used).
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Add symbolic links to test_cases.js and unit_test_utils.js which are maintained in the top-level udfs/ directory
  dataform/examples/dataform_udf_unit_test/definitions/test_cases.js
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
Due: none

Nit variable replacement
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Adding in code to backfill audit logs
  tools/backfill_audit_logs/cloud_storage_audit_log.py
Due: pylint

initial checkin of the backfill_audit_logs utility
  tools/backfill_audit_logs/README.md
Due: none

Fix comment typo
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

Add cancel_jobs.sql and delete_datasets.sql stored procedures
  stored_procedures/README.md
  stored_procedures/cancel_jobs.sql
  stored_procedures/delete_datasets.sql
Due: none

Trailing newlines
  stored_procedures/cancel_jobs.sql
  stored_procedures/delete_datasets.sql
Due: none

added section about modifying for users' UDFs (not from the example) (#13)
  dataform/examples/dataform_udf_unit_test/README.md
Due: none

README.md updates
  dataform/examples/dataform_udf_unit_test/README.md
Due: none

Adding bigquery.dataEditor role as a pre-req for deploying UDFs through user's Cloud Build env
  udfs/CONTRIBUTING.md
Due: none

nit fix
  udfs/CONTRIBUTING.md
Due: none

Dataform example tutorial.md (#15)
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Temp cloud shell link pointing to danieldeleo repo
  dataform/examples/dataform_udf_unit_test/README.md
Due: none

Add documentation and helper scripts for users looking to deploy SQLX UDFs in their own projects.
  udfs/README.md
  udfs/deploy.sh
  udfs/deploy.yaml
  udfs/migration/redshift/translate.sqlx
  udfs/migration/teradata/otranslate.sqlx
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Nit README.md changes. Modifying deploy.sh to retrieve UDFs BigQuery destination project from gcloud config
  udfs/README.md
  udfs/deploy.sh
Due: shellcheck

Add missing role to bullet description in README.md
  udfs/README.md
Due: none

Remove remnant from local debugging Explicitly call deploy.sh using bash
  udfs/README.md
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Rename variables for clarity.
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Updates to the tutorial.md file and the README.md file (#16)
  dataform/examples/dataform_udf_unit_test/README.md
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Adding missing 'dataform install' command to the CLI install step
  dataform/examples/dataform_udf_unit_test/README.md
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Markdown formatting
  dataform/examples/dataform_udf_unit_test/README.md
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

nit formatting
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Removing content related to not running in the cloud shell
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

v2 BigQuery Audit Logs View (#50)
  views/audit/README.md
  views/audit/bigquery_audit_logs_v1.sql
  views/audit/bigquery_audit_logs_v2.sql
  views/audit/bigquery_script_logs_v2.sql
  views/audit/create_view.sh
Due: shellcheck

specified to user to stay in the example directory when running their own udfs (#17)
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Addressing code review comments
  udfs/README.md
  udfs/deploy.sh
  udfs/deploy.yaml
Due: shellcheck

UDF build/test process improvements (#267)
  udfs/CONTRIBUTING.md
  udfs/README.md
  udfs/deploy.sh
  udfs/deploy.yaml
  udfs/migration/redshift/translate.sqlx
  udfs/migration/teradata/otranslate.sqlx
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

improve wording in tutorial.md
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Nit wording
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Update dataform/examples/dataform_udf_unit_test/README.md
  dataform/examples/dataform_udf_unit_test/README.md
Due: none

Update dataform/examples/dataform_udf_unit_test/tutorial.md
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

Addressing code review comments
  dataform/examples/dataform_udf_unit_test/README.md
Due: none

Adding Dataform UDF unit testing example (#266)
  dataform/examples/dataform_udf_unit_test/README.md
  dataform/examples/dataform_udf_unit_test/dataform.json
  dataform/examples/dataform_udf_unit_test/definitions/test_cases.js
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
  dataform/examples/dataform_udf_unit_test/package.json
  dataform/examples/dataform_udf_unit_test/tutorial.md
Due: none

feat: implement bh_multiple_tests
  stored_procedures/bh_multiple_tests.sql
Due: none

feat: pass temp_table_name parameter to bh_multiple_tests
  stored_procedures/bh_multiple_tests.sql
Due: none

Documentation for new procedures
  stored_procedures/README.md
Due: none

Removing unnecessary if statement
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

first commit, add functions / docs
  udfs/community/README.md
  udfs/community/json_extract_keys.sqlx
  udfs/community/json_extract_values.sqlx
  udfs/community/test_cases.js
Due: none
