Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Rename JSON output file
  tools/terraform_sync_tool/deploy.sh
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint, shellcheck

Authentication step to use ADC (#288)
  dataform/examples/dataform_datavault/README.md
Due: none

fix: billing analytics script - monthly invoice costs (#291)
  scripts/billing/sql/monthly_invoice_costs_credits.sql
Due: none

Refractor python scripts
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Move Converting table names -> table ids in Main()
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Accept user-provided arguments
  tools/terraform_sync_tool/cloudbuild.yaml
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Update yaml file
  tools/terraform_sync_tool/cloudbuild.yaml
Due: none

Clean up yaml file
  tools/terraform_sync_tool/cloudbuild.yaml
Due: none

Update identifiers and refractor terraform_sync.py
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Add comments to get_drifted_tables()
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Add developer's TODOs: Update project ID and dataset ID
  tools/terraform_sync_tool/qa/terraform-sync-tool/terragrunt.hcl
  tools/terraform_sync_tool/qa/terragrunt.hcl
Due: none

Add README file
  tools/terraform_sync_tool/README.md
Due: none

Update README: add folder structure section
  tools/terraform_sync_tool/README.md
Due: none

Update README: add Cloud Build setup instruction
  tools/terraform_sync_tool/README.md
Due: none

Add Comments to terraform_sync.py
  tools/terraform_sync_tool/README.md
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

add udf function
  udfs/community/url_decode.sqlx
  udfs/community/url_encode.sqlx
Due: none

add testcase for url_encode / url_decode
  udfs/community/test_cases.js
Due: none

add README.md for url_decode / url_encode
  udfs/community/README.md
Due: none

change year from 2021 to 2022
  udfs/community/url_decode.sqlx
  udfs/community/url_encode.sqlx
Due: none

add tescase for NULL params, and fix code for NULL
  udfs/community/test_cases.js
  udfs/community/url_decode.sqlx
  udfs/community/url_encode.sqlx
Due: none

Add UDF for url_encode / url_decode (#292)
  udfs/community/README.md
  udfs/community/test_cases.js
  udfs/community/url_decode.sqlx
  udfs/community/url_encode.sqlx
Due: none

Rename module to bigquery & provide default datasetID
  tools/terraform_sync_tool/README.md
  tools/terraform_sync_tool/modules/bigquery/main.tf
  tools/terraform_sync_tool/modules/bigquery/variables.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/terragrunt.hcl
Due: none

Rename prefix path
  tools/terraform_sync_tool/qa/terragrunt.hcl
Due: none

Use provided bucket name
  tools/terraform_sync_tool/README.md
  tools/terraform_sync_tool/qa/terragrunt.hcl
Due: none

Clean out variables unused
  tools/terraform_sync_tool/modules/bigquery/main.tf
  tools/terraform_sync_tool/modules/bigquery/variables.tf
Due: none

Test with mutiple tables and update python scripts to handle muti tables
  tools/terraform_sync_tool/qa/terraform-sync-tool/json_schemas/TableForTest2.json
  tools/terraform_sync_tool/qa/terraform-sync-tool/terragrunt.hcl
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Update python scripts - Add check resource_condensed exists condition
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Initiate BigQuery client in main()
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Use regex to convert id_value to fully-qualified table_id
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

add feature retrieve directory N from URL by url_parse
  udfs/community/test_cases.js
  udfs/community/url_parse.sqlx
Due: none

modify README.md content
  udfs/community/README.md
Due: none

Update Prerequisite in README
  tools/terraform_sync_tool/README.md
Due: none

Update README
  tools/terraform_sync_tool/README.md
Due: none

Derive project ID from default credentials
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Update user-provided arguments description
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Update terraform_sync.py
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Allow users to provide project_id to ArgumentParser
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Create cw_initcap.sqlx
  udfs/community/cw_initcap.sqlx
Due: none

Update test_cases.js
  udfs/community/test_cases.js
Due: none

Formatting: add new line at end of files
  tools/terraform_sync_tool/modules/bigquery/main.tf
  tools/terraform_sync_tool/modules/bigquery/variables.tf
  tools/terraform_sync_tool/qa/terraform-sync-tool/json_schemas/TableForTest.json
  tools/terraform_sync_tool/qa/terraform-sync-tool/json_schemas/TableForTest2.json
  tools/terraform_sync_tool/qa/terraform-sync-tool/terragrunt.hcl
  tools/terraform_sync_tool/qa/terragrunt.hcl
  tools/terraform_sync_tool/terraform_sync.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
