Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

Update day_occurrence_of_month.sql
  udfs/community/day_occurrence_of_month.sql
Due: none

Update week_of_month.sql
  udfs/community/week_of_month.sql
Due: none

Calendar functions (#84)
  udfs/community/README.md
  udfs/community/day_occurrence_of_month.sql
  udfs/community/test_cases.yaml
  udfs/community/week_of_month.sql
Due: none

added test_cases.js files to redshift and snowflake folders and converted their .sql files to .sqlx
  udfs/migration/redshift/initcap.sqlx
  udfs/migration/redshift/interval_literal_to_seconds.sqlx
  udfs/migration/redshift/split_part.sqlx
  udfs/migration/redshift/test_cases.js
  udfs/migration/redshift/translate.sqlx
  udfs/migration/snowflake/factorial.sqlx
  udfs/migration/snowflake/test_cases.js
  udfs/migration/teradata/test_cases.js
Due: none

Converting more UDFs that were brought in from remote PRs.
  udfs/community/README.md
  udfs/community/from_binary.sqlx
  udfs/community/from_hex.sqlx
  udfs/community/getbit.sqlx
  udfs/community/test_cases.js
  udfs/community/to_binary.sqlx
  udfs/community/to_hex.sqlx
  udfs/migration/vertica/test_cases.js
Due: none

Added SAFE_DIVIDE in job_execution.sql
  dashboards/system_tables/sql/job_execution.sql
Due: none

Added SAFE_DIVIDE in job_execution.sql (#261)
  dashboards/system_tables/sql/job_execution.sql
Due: none

Formatting + add trailing newline
  udfs/community/random_string.sql
Due: none

Indent 2 spaces instead of 4
  udfs/community/random_string.sql
Due: none

Add function degrees(), reverse of existing function radians() (#224)
  udfs/community/README.md
  udfs/community/degrees.sql
Due: none

Generate random string UDF (#85)
  udfs/community/README.md
  udfs/community/random_string.sql
Due: none

Updating bqutil's builder image to include all necessary components. This will accelerate the build process.
  udfs/cloudbuild.yaml
  udfs/cloudbuild_deploy.yaml
  udfs/tests/Dockerfile.ci
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: hadolint

Add trailing newline
  udfs/tests/Dockerfile.ci
Due: hadolint

Adding .hadolint.yaml with two linting warnings to ignore
  udfs/tests/.hadolint.yaml
Due: none

Add comments with links to descriptions of ignored hadolint warnings
  udfs/tests/.hadolint.yaml
Due: none

Update bqutil's builder image to include all necessary build components (#262)
  udfs/cloudbuild.yaml
  udfs/cloudbuild_deploy.yaml
  udfs/tests/.hadolint.yaml
  udfs/tests/Dockerfile.ci
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: hadolint

Remove stray .sql UDF left over after conversion
  udfs/community/week_of_month.sql
Due: none

Updates to bq_ingest
  tools/cloud_functions/gcs_event_based_ingest/.pylintrc
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/Jenkinsfile
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/logging.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/nyc_311/$2017041101/nyc311_25_rows_00.parquet
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/nyc_311/$2017041101/nyc311_25_rows_01.parquet
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/nyc_311/$2017041101/nyc_311.csv.gz
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/nyc_311/$2017041102/nyc311_25_rows_00.parquet
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/nyc_311/$2017041102/nyc311_25_rows_01.parquet
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/nyc_311/$2017041102/nyc_311.csv.gz
  tools/cloud_functions/gcs_event_based_ingest/tests/utils.py
Due: pylint, hadolint

Remove stray file
  tools/cloud_functions/gcs_event_based_ingest/Jenkinsfile
Due: none

Adding Dataform UDF unit testing example
  dataform/examples/dataform_udf_unit_test/dataform.json
  dataform/examples/dataform_udf_unit_test/definitions/test_cases.js
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
  dataform/examples/dataform_udf_unit_test/package.json
Due: none

Trailing newline
  dataform/examples/dataform_udf_unit_test/package.json
Due: none

Trailing newline
  dataform/examples/dataform_udf_unit_test/dataform.json
Due: none

Adding README.md
  dataform/examples/dataform_udf_unit_test/README.md
  dataform/examples/dataform_udf_unit_test/definitions/test_cases.js
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
Due: none

rename input arg
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: none

Removing UDFs which are now provided as native BigQuery functions. Updates to CONTRIBUTING.md
  udfs/CONTRIBUTING.md
  udfs/community/README.md
  udfs/community/last_day.sqlx
  udfs/community/test_cases.js
  udfs/migration/teradata/README.md
  udfs/migration/teradata/ascii.sqlx
  udfs/migration/teradata/initcap.sqlx
  udfs/migration/teradata/last_day.sqlx
  udfs/migration/teradata/test_cases.js
  udfs/run_unit_tests.sh
Due: shellcheck

Fixing variable for dataset
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Adding feature which allows a user to specify a fully qualified UDF name when creating test cases in test_cases.js file.
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: none

Add missing array creation for matches
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: none

Adding feature which allows a user to specify a fully qualified UDF name when creating test cases in test_cases.js file.
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
Due: none

Refactor test_case inputs to be an array
  dataform/examples/dataform_udf_unit_test/definitions/test_cases.js
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
Due: none

Refactor UDF inputs for test cases to be of array type
  udfs/community/test_cases.js
  udfs/migration/redshift/test_cases.js
  udfs/migration/snowflake/test_cases.js
  udfs/migration/teradata/test_cases.js
  udfs/migration/vertica/test_cases.js
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: none

Nit cleaning/formatting of SQL that's emitted from testing framework.
  udfs/community/test_cases.js
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: none

Nit cleaning/formatting of SQL that's emitted from testing framework.
  dataform/examples/dataform_udf_unit_test/definitions/test_cases.js
  dataform/examples/dataform_udf_unit_test/includes/unit_test_utils.js
Due: none

Addressing code review comments
  .gitignore
  udfs/CONTRIBUTING.md
  udfs/cloudbuild.yaml
  udfs/community/test_cases.js
  udfs/community/ts_linear_interpolate.sqlx
  udfs/migration/redshift/test_cases.js
  udfs/migration/snowflake/test_cases.js
  udfs/migration/teradata/test_cases.js
  udfs/run_unit_tests.sh
  udfs/tests/Dockerfile.ci
  udfs/tests/dataform_testing_framework/.gitignore
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
  udfs/tests/dataform_testing_framework/includes/unit_test_utils.js
Due: hadolint, shellcheck

Adding missing _BQ_LOCATION env var to cloud build submit arguments
  release/build.sh
Due: shellcheck

Fix incorrect env variable
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Separate global env checks into their own if statements
  udfs/tests/dataform_testing_framework/deploy_and_run_tests.sh
Due: shellcheck

Removing explicit STRING casts from test cases to improve readability
  udfs/community/test_cases.js
  udfs/migration/redshift/test_cases.js
  udfs/migration/teradata/test_cases.js
  udfs/migration/vertica/test_cases.js
Due: none

trailing new lines
  .gitignore
  udfs/community/int.sqlx
  udfs/community/radians.sqlx
  udfs/migration/teradata/index.sqlx
  udfs/migration/teradata/months_between.sqlx
  udfs/migration/teradata/nullifzero.sqlx
  udfs/migration/teradata/zeroifnull.sqlx
Due: none
