Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Update udfs/community/linear_regression.sql
  udfs/community/linear_regression.sql
Due: none

Update udfs/community/kruskal_wallis.sql
  udfs/community/kruskal_wallis.sql
Due: none

Update udfs/community/README.md
  udfs/community/README.md
Due: none

Added newline as well as updated the dataform core version
  dataform/examples/dataform_assertion_unit_test/definitions/tests/test_date_assertions.js
  dataform/examples/dataform_assertion_unit_test/definitions/tests/test_email_assertions.js
  dataform/examples/dataform_assertion_unit_test/definitions/tests/test_gender_assertions.js
  dataform/examples/dataform_assertion_unit_test/definitions/tests/test_marital_status_assertions.js
  dataform/examples/dataform_assertion_unit_test/definitions/tests/test_personal_info_assertions.js
  dataform/examples/dataform_assertion_unit_test/definitions/tests/test_telephone_number_assertions.js
  dataform/examples/dataform_assertion_unit_test/includes/unit_test_utils.js
  dataform/examples/dataform_assertion_unit_test/package.json
Due: none

Changed project ID in dataform.json
  dataform/examples/dataform_assertion_unit_test/dataform.json
Due: none

Add Job Comparison View to System Tables Dashboards (#215)
  dashboards/system_tables/README.md
  dashboards/system_tables/docs/job_comparison.md
  dashboards/system_tables/images/job_comparison/concurrent_jobs.png
  dashboards/system_tables/images/job_comparison/concurrent_projects.png
  dashboards/system_tables/images/job_comparison/creation.png
  dashboards/system_tables/images/job_comparison/hourly_utilization.png
  dashboards/system_tables/images/job_comparison/job_stages.png
  dashboards/system_tables/images/job_comparison/shuffle.png
  dashboards/system_tables/images/job_comparison/side_by_side_comparison.png
  dashboards/system_tables/images/job_comparison/slot_utilization.png
  dashboards/system_tables/sql/job_analyzer_slow.sql
  dashboards/system_tables/sql/job_comparison_statistics.sql
  dashboards/system_tables/sql/job_concurrency_comparison_slow.sql
Due: none

Update README.md
  udfs/community/README.md
Due: none

Update test_cases.yaml
  udfs/community/test_cases.yaml
Due: none

Adding statslib to bigquery-utils (#183)
  .gitignore
  udfs/community/README.md
  udfs/community/kruskal_wallis.sql
  udfs/community/linear_regression.sql
  udfs/community/pvalue.sql
  udfs/community/test_cases.yaml
Due: none

Adding levenshtein to bigquery-utils
  udfs/community/README.md
  udfs/community/levenshtein.sql
  udfs/community/test_cases.yaml
Due: none

fix: Remove wrong parenthesis
  udfs/community/levenshtein.sql
Due: none

Adding levenshtein to bigquery-utils (#216)
  udfs/community/README.md
  udfs/community/levenshtein.sql
  udfs/community/test_cases.yaml
Due: none

docs: Remove passive voice
  udfs/README.md
Due: none

docs: Add explantion on creating JS UDFs in your dataset
  udfs/README.md
Due: none

Adding a build substitution variable for the GCR project id
  cloudbuild.yaml
  udfs/cloudbuild.yaml
Due: none

feat: bq project env-var
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix: external configs not found in parent dirs
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

docs: add note on unicode delimiters
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

feat: tf gcs-bq-ingest module sets bq permissions
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
Due: none

fixup roles
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
Due: none

Move utility methods into a utils module Change the tests to use new utils module.
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

fixup! mypy pylint
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
Due: pylint

fixup! mypy tests
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

Fix sorting issues
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

fixup! fixup! gcb pylint issue
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

Move out constants into their own file Change import pattern
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

feat: sequencing with backlog publisher / subscriber
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/ordering_schema.json
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/00/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/00/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/01/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/01/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/02/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/02/data.csv
Due: pylint

fixup! flake8
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

fixup! pylint
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

support _config/*.sql for bq tranform sql
  tools/cloud_functions/gcs_event_based_ingest/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

add test of subscriber after subscriber exit
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/00/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/01/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/02/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/03/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/03/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/04/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/04/data.csv
Due: pylint

fixup linters
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
Due: pylint

ordering docs and isort single line rule
  tools/cloud_functions/gcs_event_based_ingest/.isort.cfg
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/img/ordering.png
  tools/cloud_functions/gcs_event_based_ingest/ordered_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

chore: add e2e test, fixup terraform
  tools/__init__.py
  tools/cloud_functions/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/e2e/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/versions.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint, hadolint

wip
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
