Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

Update udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/README.md
Due: none

Redo commands and added additional deploy script
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/requirements.txt
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

Updating for new function naming
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/create_bq_function.sh
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

Updating function name
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/create_bq_function.sh
  udfs/remote_udfs/nlp/deploy.sh
  udfs/remote_udfs/nlp/tests/test_nlp.py
Due: pylint, shellcheck

Updating function
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/create_bq_function.sh
  udfs/remote_udfs/nlp/deploy.sh
  udfs/remote_udfs/nlp/tests/test_nlp.py
Due: pylint, shellcheck

Update udfs/remote_udfs/nlp/deploy.sh
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

Update udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/call_nlp/main.py
Due: pylint

Removed create_bq_function shell script
  udfs/remote_udfs/nlp/create_bq_function.sh
Due: shellcheck

updated readme to reflect changes in deploy.sh
  udfs/remote_udfs/nlp/README.md
Due: none

Updating typos and brevity
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

Refactoring readme
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/deploy.sh
Due: pylint, shellcheck

Changing to languages
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/deploy.sh
Due: pylint, shellcheck

switching to "REGION"
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

added cloud function region
  udfs/remote_udfs/nlp/README.md
Due: none

update readme file
  udfs/remote_udfs/nlp/README.md
Due: none

Apply suggestions from code review
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

Many changes to readme + examples
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/deploy.sh
Due: shellcheck

Adding new line
  udfs/remote_udfs/nlp/README.md
Due: none

Adding in remote functions NLP (#329)
  udfs/remote_udfs/README.md
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/__init__.py
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/call_nlp/requirements.txt
  udfs/remote_udfs/nlp/deploy.sh
Due: pylint, shellcheck

moving to the examples, update readme
  udfs/remote_udfs/README.md
  udfs/remote_udfs/examples/nlp/README.md
  udfs/remote_udfs/examples/nlp/call_nlp/__init__.py
  udfs/remote_udfs/examples/nlp/call_nlp/main.py
  udfs/remote_udfs/examples/nlp/call_nlp/requirements.txt
  udfs/remote_udfs/examples/nlp/deploy.sh
Due: pylint, shellcheck

Removing old directories
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/__init__.py
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/call_nlp/requirements.txt
  udfs/remote_udfs/nlp/deploy.sh
Due: pylint, shellcheck

Moving nlp remote UDF into example folder (#330)
  udfs/remote_udfs/README.md
  udfs/remote_udfs/examples/nlp/README.md
  udfs/remote_udfs/examples/nlp/call_nlp/__init__.py
  udfs/remote_udfs/examples/nlp/call_nlp/main.py
  udfs/remote_udfs/examples/nlp/call_nlp/requirements.txt
  udfs/remote_udfs/examples/nlp/deploy.sh
Due: pylint, shellcheck

typeof() improvement: correctly identify strings that contain double quotes as STRING
  udfs/community/test_cases.js
  udfs/community/typeof.sqlx
Due: none

Update udfs/community/typeof.sqlx
  udfs/community/typeof.sqlx
Due: none

typeof() UDF improvement: correctly identify single quoted string (#309)
  udfs/community/test_cases.js
  udfs/community/typeof.sqlx
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
