Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

adding license header
  tools/cloud_functions/bq_table_snapshots/README.md
  tools/cloud_functions/bq_table_snapshots/bq_backup_create_snapshots/main.py
  tools/cloud_functions/bq_table_snapshots/bq_backup_create_snapshots/requirements.txt
  tools/cloud_functions/bq_table_snapshots/bq_backup_fetch_tables_names/main.py
  tools/cloud_functions/bq_table_snapshots/bq_backup_fetch_tables_names/requirements.txt
  tools/cloud_functions/bq_table_snapshots/terraform/backend.tf
  tools/cloud_functions/bq_table_snapshots/terraform/function.tf
  tools/cloud_functions/bq_table_snapshots/terraform/main.tf
  tools/cloud_functions/bq_table_snapshots/terraform/variables.tf
Due: pylint

Create Dockerfile
  udfs/remote_functions/CloudRun_CustomMasking/Dockerfile
Due: hadolint

Create requirements.txt
  udfs/remote_functions/CloudRun_CustomMasking/requirements.txt
Due: none

Create Dockerfile
  udfs/remote_functions/CloudRun_DLP/Dockerfile
Due: hadolint

Create main.py
  udfs/remote_functions/CloudRun_CustomMasking/main.py
Due: pylint

Create main.py
  udfs/remote_functions/CloudRun_DLP/main.py
Due: pylint

Create requirements.txt
  udfs/remote_functions/CloudRun_DLP/requirements.txt
Due: none

Create main.py
  udfs/remote_functions/CloudFunction_DataCatalog/main.py
Due: pylint

Create requirements.txt
  udfs/remote_functions/CloudFunction_DataCatalog/requirements.txt
Due: none

Create main.py
  udfs/remote_functions/CloudFunction_NLP/main.py
Due: pylint

Create requirements.txt
  udfs/remote_functions/CloudFunction_NLP/requirements.txt
Due: none

Create main.py
  udfs/remote_functions/CloudFunction_PubSub/main.py
Due: pylint

Create requirements.txt
  udfs/remote_functions/CloudFunction_PubSub/requirements.txt
Due: none

Create main.py
  udfs/remote_functions/CloudFunction_Translation/main.py
Due: pylint

Create requirements.txt
  udfs/remote_functions/CloudFunction_Translation/requirements.txt
Due: none

Create main.py
  udfs/remote_functions/CloudFunction_VertexAI/main.py
Due: pylint

Create requirements.txt
  udfs/remote_functions/CloudFunction_VertexAI/requirements.txt
Due: none

update com.google.guava:guava 29.0-jre to 30.0-jre
  tools/query_breakdown/pom.xml
Due: none

Adding in remote functions NLP
  remote_udfs/README.md
  remote_udfs/nlp/README.md
  remote_udfs/nlp/call_nlp/__init__.py
  remote_udfs/nlp/call_nlp/main.py
  remote_udfs/nlp/create_bq_function.sh
  remote_udfs/nlp/test_nlp.py
Due: pylint, shellcheck

update com.google.guava:guava 29.0-jre to 30.0-jre (#328)
  tools/query_breakdown/pom.xml
Due: none

Moved remote_udfs under udfs
  udfs/remote_udfs/README.md
  udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/call_nlp/__init__.py
  udfs/remote_udfs/nlp/call_nlp/main.py
  udfs/remote_udfs/nlp/create_bq_function.sh
  udfs/remote_udfs/nlp/test_nlp.py
Due: pylint, shellcheck

Moving to test to tests directory
  udfs/remote_udfs/nlp/tests/test_nlp.py
Due: pylint

Adding license headers
  udfs/remote_udfs/nlp/create_bq_function.sh
  udfs/remote_udfs/nlp/tests/test_nlp.py
Due: pylint, shellcheck

Updating readme with additional show command
  udfs/remote_udfs/nlp/README.md
Due: none

Changing to function level permissions
  udfs/remote_udfs/nlp/README.md
Due: none

Fixed link in readme
  udfs/remote_udfs/README.md
Due: none

Updating the readme
  udfs/remote_udfs/nlp/README.md
Due: none

Changes to the README
  udfs/remote_udfs/nlp/README.md
Due: none

Adding tidbit RE: jq
  udfs/remote_udfs/nlp/README.md
Due: none

global var, retry, main readme, error message
  udfs/remote_udfs/README.md
  udfs/remote_udfs/nlp/call_nlp/main.py
Due: pylint

README updates
  udfs/remote_udfs/nlp/README.md
Due: none

Update Readme RE: Gen1
  udfs/remote_udfs/nlp/README.md
Due: none

Hardcoding names to simplify deployment
  udfs/remote_udfs/nlp/README.md
Due: none

Update udfs/remote_udfs/nlp/tests/test_nlp.py
  udfs/remote_udfs/nlp/tests/test_nlp.py
Due: pylint

Update udfs/remote_udfs/nlp/create_bq_function.sh
  udfs/remote_udfs/nlp/create_bq_function.sh
Due: shellcheck

Update udfs/remote_udfs/nlp/README.md
  udfs/remote_udfs/nlp/README.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
