Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

pylint:
  name: Run pylint
  entry: pylint
  language: python

hadolint:
  name: Hadolint
  description: Haskell-based Docker image linter
  language: docker_image
  entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

add comment for region of interest and additional permissions
  scripts/optimization/storage_billing_model_savings_ddl.sql
Due: none

apply fix provided by original author (#485)
  scripts/optimization/storage_billing_model_savings_ddl.sql
Due: none

Add XML related serialization and extraction UDFs
  udfs/community/cw_to_xml_string.sqlx
  udfs/community/cw_xml_element.sqlx
  udfs/community/cw_xml_element_with_attribute.sqlx
  udfs/community/cw_xml_extract.sqlx
  udfs/community/test_cases.js
Due: none

Consolidate UDF descriptions into DDL OPTIONS description attribute
  udfs/community/cw_to_xml_string.sqlx
  udfs/community/cw_xml_element.sqlx
  udfs/community/cw_xml_element_with_attribute.sqlx
  udfs/community/cw_xml_extract.sqlx
Due: none

Change udf with name cw_xml_element_with_attribute to cw_xml_element_with_attributes
  udfs/community/cw_xml_element_with_attributes.sqlx
  udfs/community/test_cases.js
Due: none

Update bigquery_geospatial_visualization.ipynb
  dashboards/geospatial/bigquery_geospatial_visualization.ipynb
Due: none

Update bigquery_geospatial_visualization.ipynb (#490)
  dashboards/geospatial/bigquery_geospatial_visualization.ipynb
Due: none

use the latest release apache-datasketches-bigquery-1.1.0
  udfs/datasketches/VERSION.txt
Due: none

Update bigquery_geospatial_visualization.ipynb (#491)
  dashboards/geospatial/bigquery_geospatial_visualization.ipynb
Due: none

Add XML related serialization and extraction UDFs (#489)
  udfs/community/cw_to_xml_string.sqlx
  udfs/community/cw_xml_element.sqlx
  udfs/community/cw_xml_element_with_attributes.sqlx
  udfs/community/cw_xml_extract.sqlx
  udfs/community/test_cases.js
Due: none

feat: adds `gunzip` UDF
  udfs/community/README.md
  udfs/community/gunzip.sqlx
  udfs/community/test_cases.js
  udfs/js_libs/js_libs.yaml
Due: none

Default the main entrypoint path to index.js when a main is not specified in the package.json for an npm package
  udfs/tests/udf_test_utils.py
Due: pylint

Add webpack package name
  udfs/community/gunzip.sqlx
Due: none

Correct function names used from base64-js package
  udfs/community/gunzip.sqlx
Due: none

fix unit test
  udfs/community/test_cases.js
Due: none

fix the expected output of unit test
  udfs/community/test_cases.js
Due: none

newline is not playing nice with unit test
  udfs/community/test_cases.js
Due: none

Update UDF description example output since it has a newline at the end
  udfs/community/gunzip.sqlx
Due: none

fix: strip newline from example
  udfs/community/gunzip.sqlx
  udfs/community/test_cases.js
Due: none

Fix readme link
  udfs/community/README.md
Due: none

Update input bytes example to remove newline
  udfs/community/README.md
Due: none

feat: adds `gunzip` UDF (#493)
  udfs/community/README.md
  udfs/community/gunzip.sqlx
  udfs/community/test_cases.js
  udfs/js_libs/js_libs.yaml
  udfs/tests/udf_test_utils.py
Due: pylint

chore: fix unit test docker file
  udfs/tests/Dockerfile.ci
Due: hadolint

Address external env error
  udfs/tests/Dockerfile.ci
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: hadolint

Add trailing newline
  udfs/tests/Dockerfile.ci
Due: hadolint

Upgrade dataform to latest version
  udfs/tests/Dockerfile.ci
Due: hadolint

update build image dependencies
  udfs/tests/Dockerfile.ci
Due: hadolint

use cloud-sdk:stable image
  udfs/tests/Dockerfile.ci
Due: hadolint

use slim
  udfs/tests/Dockerfile.ci
Due: hadolint

use new docker image name
  udfs/tests/Dockerfile.ci
Due: hadolint

patch release with a fix
  udfs/datasketches/VERSION.txt
Due: none

include wget and unzip in custom image
  udfs/tests/Dockerfile.ci
Due: hadolint

Fix Dockerfile Error for UDF Tests (#495)
  udfs/tests/Dockerfile.ci
  udfs/tests/cloudbuild_udf_test_image.yaml
Due: hadolint

Pin emsdk to version 4.0.7
  udfs/datasketches/deploy.sh
Due: shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/
