Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

terraform fmt
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
Due: none

handle abandoned _BACKFILL and other review feedback
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/ordered_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

fixup import style
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

improve tests
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

chores: tf updates, larger machine type, etc.
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

docs
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
Due: pylint

fixup gcb no-name-in-module bug
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

fixup! handle race condition
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
Due: pylint

typing isort single line exclusion
  tools/cloud_functions/gcs_event_based_ingest/.isort.cfg
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/ordered_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

ignore pylint redherring import errors
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

improve performance of wait_on_bq_job
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

fix: handle long running bq jobs
  tools/cloud_functions/gcs_event_based_ingest/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

enable resource manager api
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
Due: none

add unit test timeout
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fixup docs
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
Due: none

fix TF_VAR env var
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

typo .[tf]state
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fixup! e2e tf to support builds where short_sha is set to empty string.
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
Due: none

relative state path
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

debug missing state file
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fix: don't try to regex match _backlog/* items
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

explicit local backend
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
Due: none

enable cloud functions api...
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
Due: none

don't regex match in triage if ordering enabled (this happens later)
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

chore: clean up subscriber
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

debug
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fix don't removesuffix for start backfill file
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

feat: env-var t numDmlRowsAffected = 0 as a failure
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

[skip ci] add comment to cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fixup isort
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
Due: pylint

chore: refactor terraform into pytest fixture to always clean up
  tools/cloud_functions/gcs_event_based_ingest/.hadolint.yaml
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/scripts/install_terraform.sh
Due: pylint, hadolint, shellcheck

chore: clean up unused fixture, init files
  tools/__init__.py
  tools/cloud_functions/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
Due: pylint

fix pylint
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix: subscriber monitor get table prefix
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
Due: pylint

more logging statements fail on untriageable event
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix: look_for_config_in_parents should return empty string for empty file
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

[skip ci] update comment in cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

fix: get_table_prefix issues w/ backlog, backfill and historydone
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fix table prefix w/ trailing slash
  tools/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

use get_table_prefix instead of removesuffix
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint
