Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

feat: bq project env-var
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

Only create NULL function signatures for newly added UDFs when deploying in public facing dataset. This prevents deployment process from temporarily changing existing UDFs to a NULL implementations.
  udfs/tests/udf_test_utils.py
Due: pylint

Update tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

Move utility methods into a utils module Change the tests to use new utils module.
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

Fix sorting issues
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

Move out constants into their own file Change import pattern
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

fixup! pylint
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fixup! fixup! gcb pylint issue
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

Increase build timeout from default value of 10min to 30min
  cloudbuild.yaml
  udfs/cloudbuild.yaml
Due: none

adding a sample script and example queries using public data.
  performance_testing/jmeter/examples/BigQuery-BI-and-ELT.jmx
  performance_testing/jmeter/examples/battery.sh
  performance_testing/jmeter/examples/bigquery_public_data_bi_queries.csv
  performance_testing/jmeter/examples/pdt_queries.csv
  performance_testing/jmeter/examples/run_jmeter_jdbc_sampler.sh
Due: shellcheck

feat: sequencing with backlog publisher / subscriber
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/ordering_schema.json
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/00/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/00/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/01/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/01/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/02/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/02/data.csv
Due: pylint

fixup! mypy pylint
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
Due: pylint

fixup! flake8
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

fixup! mypy tests
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

support _config/*.sql for bq tranform sql
  tools/cloud_functions/gcs_event_based_ingest/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

improve performance of wait_on_bq_job
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

wip
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

fix: discover external.json in parent dirs
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fixup! handle race condition
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
Due: pylint

fix: external json discovery
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

ordering docs and isort single line rule
  tools/cloud_functions/gcs_event_based_ingest/.isort.cfg
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/img/ordering.png
  tools/cloud_functions/gcs_event_based_ingest/ordered_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

docs
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/constants.py
Due: pylint

fixup linters
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
Due: pylint

fixup import style
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

typing isort single line exclusion
  tools/cloud_functions/gcs_event_based_ingest/.isort.cfg
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/ordered_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
Due: pylint

fixup gcb no-name-in-module bug
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
Due: pylint

render project id in external queries
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

add test of subscriber after subscriber exit
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/00/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/01/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/02/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/03/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/03/data.csv
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/04/_SUCCESS
  tools/cloud_functions/gcs_event_based_ingest/tests/resources/test-data/ordering/04/data.csv
Due: pylint

chores: tf updates, larger machine type, etc.
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

terraform fmt
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
Due: none

handle abandoned _BACKFILL and other review feedback
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/ordered_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

improve tests
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/requirements-dev.txt
  tools/cloud_functions/gcs_event_based_ingest/requirements.txt
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

time series slide and session funcs
  udfs/community/README.md
  udfs/community/test_cases.yaml
  udfs/community/ts_session_group.sql
  udfs/community/ts_slide.sql
Due: none

fix: handle long running bq jobs
  tools/cloud_functions/gcs_event_based_ingest/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/utils.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint

chore: add e2e test, fixup terraform
  tools/__init__.py
  tools/cloud_functions/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/.gitignore
  tools/cloud_functions/gcs_event_based_ingest/e2e/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/pytest.ini
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/README.md
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/versions.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint, hadolint

ignore pylint redherring import errors
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fixup! e2e tf to support builds where short_sha is set to empty string.
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
Due: none

fix TF_VAR env var
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
Due: none

enable resource manager api
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
Due: none

enable cloud functions api...
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
Due: none
