Repository GoogleCloudPlatform/bigquery-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, hadolint, shellcheck

Path conditions:
  pylint: any of: \.py$, but not: \.terraform/
  hadolint: any of: Dockerfile*, but not: \.terraform/
  shellcheck: any of: .*\.sh, but not: \.terraform/

fixup flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
Due: pylint

better bq job ids
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

chore: improve terraform printint in pytest fixture
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
Due: pylint

fixup regex escaping
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fix default load config return type
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

make pylint happy
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

chore: add test for child job failing behavior
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
Due: pylint

fixup flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint

[skip ci] more docs
  tools/cloud_functions/gcs_event_based_ingest/ORDERING.md
  tools/cloud_functions/gcs_event_based_ingest/README.md
Due: none

fix: fail on failure of children jobs
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

feat: separate bq storage and compute project env vars
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fixup flake8
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

fixup pylint
  tools/cloud_functions/gcs_event_based_ingest/README.md
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

improve logging in bq failures
  tools/cloud_functions/gcs_event_based_ingest/Dockerfile.ci
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
Due: pylint, hadolint

fixup mypy
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

happy newyear! copyright 2020 -> 2021
  tools/cloud_functions/gcs_event_based_ingest/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/backfill.py
  tools/cloud_functions/gcs_event_based_ingest/cloudbuild.yaml
  tools/cloud_functions/gcs_event_based_ingest/e2e/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/e2e_test.py
  tools/cloud_functions/gcs_event_based_ingest/e2e/main.tf
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/__init__.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/constants.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
  tools/cloud_functions/gcs_event_based_ingest/scripts/install_terraform.sh
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/main.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/outputs.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/variables.tf
  tools/cloud_functions/gcs_event_based_ingest/terraform_module/gcs_ocn_bq_ingest_function/versions.tf
  tools/cloud_functions/gcs_event_based_ingest/tests/cli/test_backfill.py
  tools/cloud_functions/gcs_event_based_ingest/tests/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_gcs_ocn_bq_ingest_it.py
  tools/cloud_functions/gcs_event_based_ingest/tests/gcs_ocn_bq_ingest/test_ordering_it.py
Due: pylint, shellcheck

fix: don't require escaping braces in sql, still support {dest_dataset} {dest_table} rendering
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
Due: pylint

clean up newlines in logs / error messages
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/ordering.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/utils.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/main.py
Due: pylint

fixup BigQueryJobFailure docstring
  tools/cloud_functions/gcs_event_based_ingest/e2e/conftest.py
  tools/cloud_functions/gcs_event_based_ingest/gcs_ocn_bq_ingest/common/exceptions.py
Due: pylint

docs: Add JS library route and suggested changes
  udfs/README.md
Due: none

docs: Use uniform bucket-level access instead of ACLs
  udfs/README.md
Due: none

Create degrees.sql
  udfs/community/degrees.sql
Due: none

Update README.md
  udfs/community/README.md
Due: none

Function to compute p-values from correlations
  udfs/community/corr_pvalue.sql
Due: none

Add documentation to use JS UDFs in private datasets (#218)
  udfs/README.md
Due: none

Markdown formatting and document new command line parameter default_dataset_id
  performance_testing/jmeter/README.md
Due: none

Additional UDFs
  udfs/community/mannwhitneyu.sql
  udfs/community/normal_cdf.sql
  udfs/community/p_fisherexact.sql
  udfs/community/test_cases.yaml
Due: none

Add default dataset id command line parameter to JMeter templates (#228)
  performance_testing/jmeter/README.md
  performance_testing/jmeter/bigquery_http_sampler.jmx
  performance_testing/jmeter/bigquery_jdbc_sampler.jmx
  performance_testing/jmeter/run_jmeter_http_sampler.sh
  performance_testing/jmeter/run_jmeter_jdbc_sampler.sh
Due: shellcheck

fix(test): handle jslibs bundling, reference in local testing
  udfs/cloudbuild_js_libs.yaml
  udfs/js_libs/README.md
  udfs/tests/test_create_udfs.py
  udfs/tests/udf_test_utils.py
Due: pylint

Adding info about testing js_libs locally.
  udfs/CONTRIBUTING.md
  udfs/js_libs/README.md
Due: none

Removed typo
  udfs/community/mannwhitneyu.sql
Due: none

fix(tests): remove NaN test, property reference for JS methods
  udfs/community/corr_pvalue.sql
  udfs/community/test_cases.yaml
Due: none

Update tools/dataform_assertions/definitions/validation_test/validate_date_row_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/validation_test/validate_date_row_assertions_unit_test.sqlx
Due: none

Update tools/dataform_assertions/includes/date_assertions.js
  tools/dataform_assertions/includes/date_assertions.js
Due: none

Update tools/dataform_assertions/definitions/validation_test/validate_email_row_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/validation_test/validate_email_row_assertion_unit_test.sqlx
Due: none

Update tools/dataform_assertions/definitions/validation_test/validate_gender_row_assertion_unit_test.sqlx
  tools/dataform_assertions/definitions/validation_test/validate_gender_row_assertion_unit_test.sqlx
Due: none

Update tools/dataform_assertions/definitions/validation_test/validate_phone_row_assertions_unit_test.sqlx
  tools/dataform_assertions/definitions/validation_test/validate_phone_row_assertions_unit_test.sqlx
Due: none
